.footer {
  background:  #2F324B;
  position: relative;
}
.footer-content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer-group_one {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-group_text {
  flex-basis: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer-logo {
  margin-right: 19px;
}

.footer-author {
  flex-basis: 200px;
  text-align: center;
  align-self: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 23.85px;
  line-height: 28px;
  text-decoration: none;
}

.footer-text {
  width: 135px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  border-bottom: 1px solid white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer-social_group {
  align-self: center;
}


@media  (max-width: 320px) {
  .footer-link {
    color: transparent;
    background-image: url(../image/phone-2.svg);
    display: block;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  .footer-logo {
    width: 30px;
    flex-basis: 30px;
  }
  .footer-text {
    display: none;
  }
  .footer-author {
    position: absolute;
    background-color: #2A2C3F;
    display: block;
    width: 100%;
    bottom: -25px;
    left: 0;
    z-index: 100;
  }
  .footer-author:before {
    content: "";
    position: absolute;
    color: transparent;
    background-color: #2A2C3F;
    left: -15px;
    width: 320px;
    height: 50px;
  }
  .footer-author:after {
    content: "Сделано Ивановым Иваном";
    position: absolute;
    color:
      rgba(255, 255, 255, 0.5);
    left: 60px;
    top: 15px;
  }

  .footer-group_one {
    display: flex;
    flex-basis: 350px;
    justify-content: space-between;
  }
  .footer-block {
    width: 100%;
    background-color: #2A2C3F;;
  }
}
