.footer {
  background:  #2F324B;
  position: relative;
}
.footer-social{
  min-height: 158px;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.footer-group_one {
  display: flex;
  flex-basis: 300px;
  justify-content: end;
  align-items: center;
  transform: translate(-3px, 44px);
}
.footer-group_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer-group_text_company {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  transform: translate(3px, -1px);
}

.footer-logo {
  margin-right: 19px;
}

.footer-author {
  display: flex;
  flex-basis: 300px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
  transform: translate(65px, 45px);
}

.footer-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 23.85px;
  line-height: 35px;
  text-decoration: none;
}

.footer-text {
  width: 135px;
  text-align: center;
  color: #FFFFFF;
  border-bottom: 1px solid white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer-social_group {
  flex-basis: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transform: translate(-37px, 42px);
}


@media (max-width: 768px) {
  .footer-logo {
    width: 40px;
    height: 40px;
  }
  .footer-link {
    font-size: 18px;
  }
  .footer-text {
    font-size: 15px;
    width: 125px
  }
}


@media (max-width: 605px) {
  .footer-logo {
    width: 35px;
    flex-basis: 30px;
    margin-right: 10px;
  }

  .footer-group_one {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 120px;
  }
  .footer-author {
    flex-basis: 150px;
  }
  .footer-link {
    width: 400px;
    font-size: 15px;
  }
  .footer-text {
    font-size: 10px;
    width: 85px
  }
  .footer-link {
    font-size: 10px;
  }
}


@media  (max-width: 360px) {
  .footer-group_one {
    display: flex;
    flex-basis: 185px;
    justify-content: center;
  }
  .footer-link {
    color: transparent;
    /*background-image: url(../image/phone-2.svg);*/
    /*display: block;*/
    /*background-size: 50px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: right center;*/
  }
  .footer-link:after {
    content: url("../image/phone-2.svg");
    display: inline-block;
    position: absolute;
    top: 10px;
    right: -20px;
    width: 50px;
    height: 50px;

  }
  .footer-logo {
    width: 30px;

  }
  .footer-text {
    display: none;
  }
  .footer-author {
    position: absolute;
    background-color: #2A2C3F;
    display: block;
    width: 100%;
    bottom: -25px;
    left: 0;
    z-index: 100;
  }
  .footer-author:before {
    content: "";
    position: absolute;
    color: transparent;
    background-color: #2A2C3F;
    left: -15px;
    width: 360px;
    height: 50px;
  }
  .footer-author:after {
    content: "Сделано Ивановым Иваном";
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    left: 85px;
    top: 15px;
  }


  .footer-block {
    width: 100%;
    background-color: #2A2C3F;;
  }


}






@media  (max-width: 320px) {
  .footer-link {
    color: transparent;
    background-image: url(../image/phone-2.svg);
    display: block;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  .footer-logo {
    width: 30px;
    flex-basis: 30px;
  }
  .footer-text {
    display: none;
  }
  .footer-author {
    position: absolute;
    background-color: #2A2C3F;
    display: block;
    width: 100%;
    bottom: -25px;
    left: 0;
    z-index: 100;
  }
  .footer-author:before {
    content: "";
    position: absolute;
    color: transparent;
    background-color: #2A2C3F;
    left: -15px;
    width: 320px;
    height: 50px;
  }
  .footer-author:after {
    content: "Сделано Ивановым Иваном";
    position: absolute;
    color:
      rgba(255, 255, 255, 0.5);
    left: 60px;
    top: 15px;
  }

  .footer-group_one {
    display: flex;
    flex-basis: 350px;
    justify-content: space-between;
  }
  .footer-block {
    width: 100%;
    background-color: #2A2C3F;;
  }
}
