.hero {
  position: relative;
  min-height: 458px;
  z-index: 2;
  padding-top: 0;
}
.hero-title {
  max-width: 990px;
  text-align: center;
  font-weight: 900;
  font-size: 52px;
  line-height: 59px;
  color: rgba(255, 255, 255, 0.86);
  margin-bottom: 35px;
}

.hero-text {
  max-width: 960px;
  max-height: 89px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 90px;

}
.hero-text:first-line {
  max-width: 930px;
}

.hero-content {
  display: flex;
  align-self: start;
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  color: #ffffff;
  background: #15A9CB;
  cursor: pointer;
  padding: 11px 48px 10px 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;

}

@media (max-width: 1024px) {
  .hero-content {
    flex-basis: 200px;
  }
  .hero-btn {
    margin-bottom: 20px;
  }
  .hero-text {
    margin-bottom: 70px;
  }
}
@media (max-width: 800px) {
  .hero-btn {
    margin-bottom: 20px;
  }

}

@media (max-width : 768px) {
  .hero-title {
    font-weight: 900;
    font-size: 40px;
    line-height:43px;
  }


  .hero-btn {
    margin-bottom: 80px;
  }
  .hero-text {
    margin-bottom: 70px;
  }
}
@media(max-width : 533px) {
  .hero-btn {
    margin-bottom: 70px;
  }
  .hero-text {
    margin-bottom: 20px;
  }
}

@media (max-width : 360px) {
  .hero-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 23px;
  }
  .hero-btn {
    margin-bottom:20px;
  }
}

  @media (max-width: 320px) {
  .hero-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: rgba(255, 255, 255, 0.86);
  }
  .hero-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 60px;
  }
}


